@font-face {
  font-family: triforce;
  src: url(/assets/fonts/Triforce-y07d.ttf);
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: triforce;
  background-image:
    linear-gradient(
	  #ab8b63, #503512
	);
}

h1 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  margin-bottom: 10px !important;
}

#trackerWrapper {
  width: 100%;
  padding-top: 10px;
}
#trackerWrapper > * {
  width: 270px;
  margin: 0 auto;
  text-align: center;
}
#inventoryTracker img {
  cursor: pointer;
}

#inventoryMainScreen {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 equally-sized columns */
  grid-template-rows: repeat(3, 40px);
  justify-content: center;
  gap: 5px;
  width: 270px;
}

#inventoryEquipScreen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 40px);
  gap: 5px;
  width: 270px;
}

#inventoryQuestScreen {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 3fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

#songContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  width: 270px;
}

#ageIndicator {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#magicMeter {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 7;
}

#skulltula {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#songStaff {
  background-image: url("/assets/images/music/staff.png");
  height: 40px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 7;
}

#staffWrapper {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.itemButton {
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  justify-self: center;
}

.songButton {
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  justify-self: center;
}

#mapSvg {
  width: 100%;
}

#mapSvg > path {
  cursor: pointer;
  fill: transparent;
  stroke:black;
  stroke-width:2;
}
#mapSvg > path:hover {
  fill: rgba(255, 255, 255, 0.5);
}