@font-face {
  font-family: triforce;
  src: url(../fonts/Triforce-y07d.ttf);
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: triforce;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  user-select: none;
  overflow-x: hidden;
  background-image: linear-gradient(var(--light-brown), #503512);
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 10px !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --light-brown: #ab8b63;
}

.hidden {
  display: none !important;
}

#toggleMap {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  margin: 0 auto;
  width: 80%;

  border: 3px var(--light-brown) solid;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-family: triforce;
  font-size: 26px;

  transition: background 100ms;
}

#toggleMap:active {
  background:rgba(50, 50, 50, 1);
}

#trackerWrapper {
  width: 100%;
  height: 100%;
}
#inventoryTracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
#inventoryTracker img {
  cursor: pointer;
}

#inventoryMainScreen {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 equally-sized columns */
  grid-template-rows: repeat(3, 40px);
  justify-content: center;
  gap: 5px;
  width: 270px;
}

#inventoryEquipScreen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 40px);
  gap: 5px;
  width: 270px;
}

#inventoryQuestScreen {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 3fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

#songContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  width: 270px;
}

#age {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#magic {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 7;
}

#skulltula {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#songStaff {
  background-image: url("../images/music/staff.png");
  height: 40px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 7;
}

#staffWrapper {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.itemButton {
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  justify-self: center;
}

.songButton {
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  justify-self: center;
}

#checksWrapper {
  width: 100%;
  display: flex;

  flex-direction: row;
}

#checks {
  background: rgba(0, 0, 0, 1);
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
  padding-left: 10px;
}

#checks ul {
  overflow-y: auto;
  flex: 1;
  flex-basis: 0;
  margin-left: -10px;
}

#checks li {
  text-align: left;
  cursor: pointer;
  padding: 10px 10px;
  display: flex;
  align-items: flex-end;
  font-size: 1.5em;
  border-bottom: 1px var(--light-brown) solid;
}

#checks li:first-child {
  border-top: 1px var(--light-brown) solid;
}

#checks li * {
  flex: 1;
}
#checks li .check-name {
  text-align: left;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
#checks li .check-icons {
  text-align: right;
  /* text-shadow: none; */
}
.check.check-checkable .check-name {
  color: green;
}

.check.check-unchecked .check-name {
  color: red;
}

.check.check-checked .check-name {
  color: grey;
}

#checks li:hover {
  background: rgba(255, 255, 255, 0.2);
}

#mapSvg > path {
  cursor: pointer;
  fill: transparent;
  stroke:black;
  stroke-width:2;
}
#mapSvg > path:hover {
  fill: rgba(255, 255, 255, 0.5);
}

.map-tooltip {
  position: absolute;
  text-align: center;
  top: -10px;
  left: -75px;
  min-width: 150px;
  /* height: 100px; */
  padding: 5px 15px;
  border: 3px var(--light-brown) solid;
  border-radius: 5px;
  background: black;
  color: white;
  text-shadow: none;
  /* opacity: 0.85; */
}


@media only screen and (max-width: 900px) {
  #checksWrapper {
    flex-direction: column-reverse;
    height: 100%;
  }
  #checks {
    flex-grow: 1;
  }
  #toggleMap {
    display: block;
  }
}
